# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos PostgreSQL
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=repuestos_db
DB_PORT=5433

# Seguridad y Sesiones
SESSION_SECRET=super_secret_key_for_commercial_vehicles_1298471
